<html>
<head>
  <link href="../assets/css/log1.css" rel="stylesheet">
<link href="../assets/css/nav.css" rel="stylesheet">
<link href="../assets/css/search.css" rel="stylesheet">
<link href="../assets/css/imageslide.css" rel="stylesheet">
<link href="../../app.js" >
</head>

<body>                                                                                                     
<div style="text-align:center">
  <h1>
    CRYPTOLIVE                                   
  </h1>
</div>


<!-- <div style="text-align:left" class="dropdown">
    <a routerLink="/"><img width="200" height="70" alt="CryptoLive Logo" src="../../assets/images/cryptologo.png">
    </a><h1>RYPTOLIVE</h1>
</div>
<br> -->

<div id="iefix">
<ul class="ul">

    <li class="dropdown"><a routerLink="/"><img width="80" height="26" alt="CryptoLive Logo" src="../../assets/images/cryptologo.png"></a></li>

  <li class="dropdown"><a routerLink="/">HOME</a></li>

    <li class="dropdown"><a routerLink="/market">MARKET</a></li>

    <li class="dropdown"><a routerLink="/signin">SIGNIN</a></li>
  
    <li class="dropdown"><a routerLink="/register">REGISTER</a></li>
    
	<li class="dropdown"><div class="topnav"><input type="text" placeholder="Search.." name="search"></div></li>
	
    </ul>
    
    </div>
   <br>
   <br>

<!-- <marquee bgcolor="#1A4FA6"><font color="white">Register for IPL 2018 tickets </font><a href="http://www.iplt20.com/schedule" target="_blank"><b><font color="red">Click Here To Buy</font></b></a></marquee> -->
<router-outlet></router-outlet>



</body>
</html>